<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title ロシア語形容詞の変化表
  style.
    *, *::before, *::after {
      box-sizing: inherit;
      font: inherit;
      margin: 0;
      padding: 0;
      text-align: inherit;
    }
    html {
      box-sizing: border-box;
      font-family: YuGothic;
      font-size: 2vw;
      line-height: 1.25;
      text-align: left;
    }
    body {
      padding-top: 4em;
    }
    table {
      border-collapse: collapse;
      border: solid 1px;
      table-layout: fixed;
      width: 100%;
    }
    th, td {
      border: solid 1px;
    }
    th {
      text-align: center;
    }
    thead th, thead td {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
    tbody th, tbody td {
      padding-top: 1.25em;
      padding-bottom: 1.25em;
    }
    small {
      display: block;
      font-size: 80%;
    }
body
  table
    colgroup
      col(style="width: 2em;")
      col(style="width: 2.5em;")
    colgroup
      col
      col
      col
      col
    thead
      tr
        th(colspan="2")
        th 男
        th 中
        th 女
        th 複
    tbody
      tr
        th(colspan="2") 主
        td
        td
        td
        td
      tr
        th(colspan="2") 生
        td(colspan="2")
        td
        td
      tr
        th(colspan="2") 与
        td(colspan="2")
        td
        td
      tr
        th(rowspan="2") 対
        th
          small 活
        td
        td(rowspan="2")
        td(rowspan="2")
        td
      tr
        th
          small 不活
        td
        td
      tr
        th(colspan="2") 造
        td(colspan="2")
        td
        td
      tr
        th(colspan="2") 前置
        td(colspan="2")
        td
        td
