<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title ロシア語動詞の活用表
  style.
    *, *::before, *::after {
      box-sizing: inherit;
      font: inherit;
      margin: 0;
      padding: 0;
      text-align: inherit;
    }
    html {
      box-sizing: border-box;
      font-family: Verdana, YuGothic;
      font-size: 1.5vw;
      line-height: 1.25;
      text-align: left;
    }
    body {
      padding-top: 3em;
    }
    table {
      border-collapse: collapse;
      border: solid 1px;
      table-layout: fixed;
      width: 100%;
    }
    th, td {
      border: solid 1px;
    }
    th {
      text-align: center;
    }
    thead th, thead td {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
    tbody th, tbody td {
      padding-top: 1.25em;
      padding-bottom: 1.25em;
    }
    small {
      display: block;
      font-size: 80%;
    }
body
  table
    colgroup
      col(style="width: 4em;")
    colgroup
      col
      col
    thead
      tr
        th
        th 不完了体
        th 完了体
    tbody
      tr
        th 不定形
        td
        td
      tr
        th я
        td
        td
      tr
        th ты
        td
        td
      tr
        th он
        td
        td
      tr
        th мы
        td
        td
      tr
        th вы
        td
        td
      tr
        th они
        td
        td
      tr
        th 過・男
        td
        td
      tr
        th 過・女
        td
        td
      tr
        th 過・中
        td
        td
      tr
        th 過・複
        td
        td
